.flex
{
  display:flex;
}
.items-center
{
  align-items:center;
}
.justify-center
{
  justify-content:center;
}
.font-weight
{
  font-weight:600;
}
.space-between
{
  justify-content:space-between;
}
.mx-2
{
  margin-left:18px;
  margin-right:12px;
}
.cursor
{
  cursor:pointer;
}